#netWarn {
	display:none;
	margin:0;
	padding:0.5em 1em;
	border:0;
	text-align:center;
	color:#fff;
	font-family:Arial, sans-serif;
	font-size: 0.875em;
	font-weight: bold;
	border-bottom: #F00 1px solid;
	background-color: #B01717;
}
