.glossary {
visibility:visible;
}

.courseMap {
visibility:visible;
}

.mute {
visibility:visible;
}

.exit {
visibility:visible;
}

.home {
visibility:visible;
}

.refresh {
visibility:visible;
}

.next {
visibility:visible;
}

.previous {
visibility:visible;
}

.resources {
visibility:visible;
}